@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="card-column">
        <div class="card description">
            <h4>Document Manager</h4>
        </div>

        <div class="card description">
            <h4>Contract Manager</h4>
        </div>

        <div class="card description">
            <h4>Commercial<h4>
        </div>
    </div>

    <div class="card-columns-container">
        <div class="card-column">
            <div class="card">
                <h1>ICON</h1>
                <h4>Contract Data</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>DM2</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CTM1</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CTM2</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CM1</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CM2</h4>
                <p>Description</p>
            </div>
        </div>

        <div class="card-column">
            <div class="card">
                <h1>ICON</h1>
                <h4>DM3</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>DM4</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CTM3</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CTM4</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CM3</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CM4</h4>
                <p>Description</p>
            </div>
        </div>

        <div class="card-column">
            <div class="card">
                <h1>ICON</h1>
                <h4>DM5</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>DM6</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CTM5</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CTM6</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CM5</h4>
                <p>Description</p>
            </div>

            <div class="card">
                <h1>ICON</h1>
                <h4>CM6</h4>
                <p>Description</p>
            </div>
        </div>
    </div>
</div>


