<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PageLayout</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PageLayout.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,150,0,10" />

</head>
<body>
    <div class="navbar">
        <div class="logo">
            <div  asp-area="" asp-controller="Home" asp-action="Index">PageLayout</div>
        </div>
        <div class="user">
            <partial name="_LoginPartial" />
        </div>
    </div>

    <div class="menu">
        <a href="#">
            <span class="material-symbols-outlined">
                more_vert
            </span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                home
            </span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                view_list
            </span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                settings
            </span>     
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                license
            </span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                file_copy
            </span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                apartment
            </span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                email
            </span>
        </a>
    </div>

    <div class="main-content" style="padding: 20px;">
        @RenderBody()
    </div>

    <div class="footer">
        <p>
            &copy; 2024 - All rights reserved.
        </p>
    </div>

</body>
</html>
